fastapi
uvicorn
motor
openai
arxiv
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
httpx
numpy
python-dotenv
bcrypt==4.0.1
networkx
PyMuPDF
pdfplumber
regex
python-docx
cachetools
websockets
